@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto:400,400i,700");

html,
body,
header,
main,
section {
  margin: 0;
  padding: 0; }

html,
body {
	height: 100%;
}

* {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

.jumbotron {
  margin: 0 auto; }

.jumbotron.odd {
  background-color: #FFFFFF; }

/**********************************************
******************   INDEX   ******************
***********************************************/

#index .jumbotron.splash {
  height: calc(100vh - 60px);
  max-width: 1600px;
  background: url('../images/responsive_world.png') no-repeat center center;
  background-size: cover;
  text-align: center;;
}

#index .jumbotron.splash .page-title {
  color: #243954;
}

#index .jumbotron.splash .page-subtitle small {
  color: #243954;
}

#index .jumbotron h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/**********************************************
*****************   HEADER   ******************
***********************************************/

header .navbar-dark {
  font-weight: bold;
}

header .navbar-dark .navbar-brand:hover {
  color: #009639; }

header .navbar-dark .navbar-nav .nav-link:hover {
  color: #009639; }

/**********************************************
******************   FOOTER   *****************
***********************************************/

footer nav.navbar {
  background-color: #343a40
}

footer a {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  font-weight: bold;
}

footer li a:hover {
  color: #009639;
}

footer .col-sm {
  text-align: center;
}
