# DEPENDENCIES #
################
/node_modules
/old-reference

# AUDIO #
#########


# IMAGES #
##########


# VIDEOS #
##########


# TESTING #
###########
/test

# PRODUCTION #
##############
/build

# MISC #
########
.DS_Store
.env
.env.local
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
