# DEPENDENCIES #
################
/node_modules
/old-reference

# AUDIO #
#########
/src/styles/audio/
*.wav
*.mp3

# IMAGES #
##########
/src/styles/images/
*.jpg
*.png

# VIDEOS #
##########
/src/styles/videos/
*.mov
*.mp4

# TESTING #
###########
/test

# PRODUCTION #
##############
/build

# MISC #
########
.DS_Store
.env
.env.local
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*
